.hero {
  background-color: var(--page-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-color);
  width: 696px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
}

.hero__btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--header-color);
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  border: 1px;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
}
